<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fastapi-Auth</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1>Bienvenido a Nuestra Aplicación</h1>
           
            <button class="login-btn" onclick="window.location.href='/login'">Iniciar Sesión</button>
        </div>
    </header>
    <main>
        <div class="container">
            <p>Esta es la página de bienvenida de nuestra aplicación. Aquí podrás gestionar roles y permisos.</p>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Nuestra Aplicación. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
